.container-details-food {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 90%;
}

.title-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons-favorites-section-details {
  display: inline;
  margin: 10px 0;
  text-align: end;
}

.buttons-share-favorite-details {
  width: 20%;
}

.buttons-heart-favorite-details {
  width: 20%;
}

.ingredients-section-details {
  padding: 5px;
}

.ingredients-section-details h4 {
  margin: 5px 0;
}

.instrucitons-section-details {
  background-color: #e2ddd8;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}

.recipes-img {
  border: #704c13 solid;
  border-radius: 35px;
  margin: 3px;
  padding: 5px;
}

.recomend-container {
  display: flex;
  margin-bottom: 50px;
  overflow-x: scroll;
}

.recomend-img {
  border: #704c13 solid;
  border-radius: 35px;
  margin: 3px;
  padding: 5px;
  width: 150px;
}

.containerDetailsFood a {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title-recomend {
  margin-top: 10px;
}

.recomendation-card {
  background-color: #e2ddd8;
  border-radius: 10px;
  margin-right: 4px;
  padding: 3px;
}

.recomendation-card h4 {
  text-align: center;
}

.button-progress-section-details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button-progress-section-details button {
  background-color: #198754;
  border-radius: 6px;
  bottom: 0;
  color: white;
  font-weight: 600;
  height: 40px;
  position: fixed;
  width: 90%;
}
