.ingredient-meal-card {
  background-color: #ebebeb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 45%;
}

.ingredient-meal-card img {
  border: #704c13 solid;
  border-radius: 35px;
  margin: 3px;
  padding: 5px;
  width: 95%;
}

.ingredient-meal-card p {
  color: #704c13;
  font-weight: 600;
}